/* Importer la police Inter depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Réinitialiser les marges, les rembourrages et le modèle de boîte pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définir la famille de polices par défaut pour le corps du document */
body {
    font-family: 'Inter', sans-serif;
    color: #000000; /* Couleur du texte (blanc dans cet exemple) */
    justify-content: space-between;
}

/* Conteneur flex avec justification espace autour */
.container {
    display: flex;
    justify-content: space-around;
}

/* Style pour les éléments parent-link et icon */
.parent-link, .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style pour les liens sociaux avec effet au survol */
.social-links {
    text-decoration: none;
    padding: 0 2.5rem;
    margin: 0;
    color: #4b5563;
    font-weight: 500;
}

.social-links:hover {
    opacity: 0.8;
    color: #b39ec7;
}

/* Styles pour l'en-tête */
.acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
    background: black url('./images/DO5-2.gif') no-repeat fixed center center;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}


/* Styles pour la navigation */
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1rem;

}

/* Styles pour le titre de niveau 1 avec effet au survol */
h1 {

    font-size: 40px;
    line-height: 1.25;
}

h1:hover {
    color: #b39ec7;
}

/* Styles pour le titre de niveau 3 */
h3 {
    margin: 0.25rem 0 2.25rem 0;
    color: #333;
}

/* Styles pour les paragraphes */
p {
    font-size: 20px;
    line-height: 1.5;
    margin: 1.75rem;
}

/* Styles pour les paragraphes dans l'en-tête */
header p {
    margin: 50px; /* Supprimer la marge par défaut */
}

.left {
    font-family: '11.20', serif;
    color: rgba(213, 213, 224, 0.4);
    font-size: 6.5em;
    align-self: flex-start; /* Aligner à gauche */
}

.right {
    font-family: '11.20', serif;
    color: #b39ec7;
    font-size: 6em;
    align-self: flex-end; /* Aligner à droite */
}

header p:hover{
  color: #b39ec7;
}

@font-face {
    font-family: "11.20";
    src: url("./font/11.20___.TTF") format('truetype'); ;
}

/* Styles pour le conteneur de l'en-tête */
.header-container {
    display: flex;
    column-gap: 7.5rem;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 0 5rem;
}

/* Styles pour le conteneur gauche de l'en-tête */
.hdr-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Styles pour les éléments enfants à l'intérieur du conteneur gauche de l'en-tête */
.hdr-container-left > * {
    width: 100%;
    max-width: 90%;
}

/* Styles pour les icônes des médias sociaux */
.sm-icon {
    padding: 0 0.5rem;
    margin: 0;
    font-size: 35px;
    color: rgb(35, 35, 35);
}

.sm-icon:hover {
    opacity: 0.8;
    color: #2b36f4;
}

/* Styles pour le pied de page */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

/* Styles pour l'image */
#imageCV {
    max-width: 50%;
    height: auto;
}

