/* Importer la police Inter depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Réinitialiser les marges, les rembourrages et le modèle de boîte pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column; /* Empêche le pied de page de remonter si le contenu est vide */
    min-height: 100vh; /* Garantit que le contenu occupe au moins la hauteur de l'écran */
    background-color: rgba(229, 226, 232, 0.65);
}

/* Conteneur flex avec justification espace autour */
.container {
    display: flex;
    justify-content: space-around;
}

/* Style pour les éléments parent-link et icon */
.parent-link, .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.name {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Style pour les liens sociaux avec effet au survol */
.social-links {
    text-decoration: none;
    padding: 0 1.5rem;
    margin: 0;
    color: #4b5563;
    font-weight: 500;
}

.social-links:hover {
    opacity: 0.8;
    color: #b39ec7;
}

.acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    /* overflow: auto; */ /* Supprimez cette propriété pour empêcher le défilement dans le GIF en arrière-plan */
    background: black url('./images/DO5-2.gif') no-repeat fixed center center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}


/* Styles pour la navigation */
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1rem;

}

/* Styles pour le titre de niveau 1 avec effet au survol */
h1 {
   font-size: 40px;
   line-height: 1.25;
   margin-bottom: 20px; /* Ajoute de la marge en bas */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


h1:hover {
    color: #b39ec7;

}

/* Styles pour le titre de niveau 3 */
h3 {
    margin: 0.25rem 0 0.75rem 0; /* Réduire la marge inférieure */
    color: #333;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h2{
     user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h4{
    font-size: 1.5em;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   margin-top: 10%;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0.75rem;
    margin-bottom: 1.5rem; /* Ajout de marge inférieure */
}

.acquis {
    color: #1f9610;
}

.non-acquis {
    color: #b05c5c;
}


/* Styles pour les paragraphes dans l'en-tête */
header p {
    margin: 50px; /* Supprimer la marge par défaut */
}

.left {
    font-family: 'outage', serif;
    color: rgba(213, 213, 224, 0.4);
    font-size: 4em;
    align-self: flex-start;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.left2 {
    font-family: 'outage', serif;
    color: rgba(213, 213, 224, 0.4);
    font-size: 2rem;
    align-self: flex-start;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.right {
    font-family: 'yagiza', serif;
    color: #b39ec7;
    font-size: 3em;
    align-self: flex-end;
    margin-top: auto; /* Placez le texte au bas du conteneur */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


header p:hover{
  color: #b39ec7;
}

@font-face {
    font-family: "11.20";
    src: url("./font/11.20___.TTF") format('truetype'); ;
}

@font-face {
    font-family: "yagiza";
    src: url("./font/YAGIZA__.woff") format('woff'); ;
}

@font-face {
    font-family: "outage";
    src: url("./font/Outage.ttf") format('truetype'); ;
}

/* Styles pour le conteneur de l'en-tête */
.header-container {
    display: flex;
    column-gap: 7.5rem;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 0 5rem;
}

/* Styles pour le conteneur gauche de l'en-tête */
.hdr-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Styles pour les éléments enfants à l'intérieur du conteneur gauche de l'en-tête */
.hdr-container-left > * {
    width: 100%;
    max-width: 90%;
}

/* Styles pour les icônes des médias sociaux */
.sm-icon {
    padding: 0 0.5rem;
    margin: 0;
    font-size: 35px;
    color: rgb(35, 35, 35);
}

.sm-icon:hover {
    opacity: 0.8;
    color: #2b36f4;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: auto; /* Met le pied de page en bas de la page */
}

/* Styles pour l'image */
#imageCV {
    max-width: 50%;
    height: auto;
}

#lookdev {
    max-width: 40%;
    height: auto;
}

#hook {
    max-width: 30%;
    height: auto;
}

#bp_fw {
    max-width: 20%;
    height: auto;
}

#lvlseq_fw {
    max-width: 20%;
    height: auto;
}

#aventuriers {
    max-width: 50%; /* Rétrécir l'image */
    height: auto;
    align-self: center; /* Coller l'image à gauche */
    margin-bottom: 2rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#sae {
    max-width: 50%; /* Rétrécir l'image */
    height: auto;
    align-self: center; /* Coller l'image à gauche */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 2rem;
}

#rb {
    max-width: 40%; /* Rétrécir l'image */
    height: auto;
    align-self: center; /* Coller l'image à gauche */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* Ajoutez les règles de médias query pour les téléphones */
@media screen and (max-width: 767px) {
    /* Styles pour le conteneur de l'en-tête */
    .header-container {
        flex-direction: column;
        column-gap: 0;
        margin-top: 1.5rem;
        padding: 0 1.5rem;
    }

    /* Styles pour le conteneur gauche de l'en-tête */
    .hdr-container-left {
        text-align: center;
    }

    /* Styles pour les éléments enfants à l'intérieur du conteneur gauche de l'en-tête */
    .hdr-container-left > * {
        max-width: 100%;
    }

    /* Styles pour le titre de niveau 1 avec effet au survol */
    h1 {
        font-size: 30px;
    }



    /* Styles pour les paragraphes */
    header p {
        font-size: 16px;
        margin: 1rem;
        display: none; /* Masquer les paragraphes */
    }

    /* Styles pour le pied de page */
    footer {
        flex-direction: column;
        padding: 1rem;
    }

    /* Styles pour l'image */
    #imageCV {
        max-width: 100%;
    }

    /* Styles pour l'en-tête en mode responsive */
    .acc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: black url('./images/DO5-2.gif') no-repeat fixed center center;
    }

    /* Styles pour la navigation en mode responsive */
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Styles pour les liens de la navigation en mode responsive */
    nav a {
        padding: 1rem 0;
        display: block;
    }

    html {
        scroll-behavior: smooth;
    }
}


.gif-container {
    position: relative; /* Assurez-vous que les flèches sont positionnées relativement à ce conteneur */
    margin-top: 20px; /* Ajoutez une marge supérieure pour décaler les flèches vers le bas */
}

.chevrons {
    position: absolute;
    bottom: 0; /* Place les flèches tout en bas du conteneur .acc */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    z-index: 1000; /* Assurez-vous que les flèches sont au-dessus du GIF */
}

.chevron {
    width:  1.5rem;
    height:  1.2rem;
    opacity: 1; /* Assurez-vous que les flèches sont visibles */
    transform: scale(1); /* Assurez-vous que les flèches ne sont pas trop petites */
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(229, 226, 232, 0.65);
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(1.5rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(2.6rem);
    }
    100% {
        opacity: 0;
        transform: translateY(3.8rem) scale(0.5);
    }
}

