body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b39ec7;
    color: black;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Menu Parametre */

#burger:hover, #b_submenu {
    display: block;
}

#burger:hover a {
    color: black;
    text-decoration: none; /* Remove underline on hover */
}

.submenu {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    color: black;
    font-size: 200%;
}

#b_submenu > a {
    display: block;
    text-decoration: none; /* Remove underline */
}

#b_submenu {
    display: none;
    position: absolute;
    padding: 1.5%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    flex-direction: column;
}

#burger:hover > #b_submenu {
    display: block;
}

#b_subpages {
    position: absolute;
    padding: 5%;
    background-color: rgb(44, 148, 204);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
}

#imageCV {
    width: 100%;
}

.lien {
    height: 10%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgfooter {
    width: 20%;
}

#lkd {
    padding-left: 30%;
}




